[Interface]
Address = {{server.ip_address}}/24
SaveConfig = false
ListenPort = {{server.public_port}}
PrivateKey = {{server.private_key}}
{{#clients}}

[Peer]
# {{name}}
PublicKey = {{public_key}}
AllowedIPs = {{ip_address}}/32
{{/clients}}
